In [2]:
import pandas as pd

In [3]:
# df = pd.read_csv("./transposed_file.csv")
df = pd.read_csv('./datasets.csv')

In [19]:
filtered_df = df[df['metric'].str.contains('ST_20')]
filtered_df = filtered_df.drop(columns=['date', 'type', 'downloads', 'downloads_2'])
filtered_num = filtered_df.drop(columns=['metric']).drop(columns=['Unnamed: 0'])
filtered_num = filtered_num.fillna(0)
filtered_num = filtered_num.apply(pd.to_numeric, errors='coerce')
filtered_df['max_value'] = filtered_num.max(axis=1)
df_numeric_without_zero = filtered_num.replace(0, float('nan'))
filtered_df['min_value'] = df_numeric_without_zero.min(axis=1)
filtered_df[['metric', 'max_value', 'min_value']]

         metric   max_value  min_value
7   ST_20130601  113.894585  93.792595
8   ST_20140807  104.971161  86.123764
9   ST_20160609   89.693787  74.370148
10  ST_20160618  109.360954  89.895020
11  ST_20160625  109.298386  83.770676
12  ST_20170612  116.602760  93.296898
13  ST_20190830   99.043510  84.204140
14  ST_20190922   97.503395  81.421692
15  ST_20200613  102.807190  83.814659
16  ST_20200706  122.086067  98.888519
17  ST_20210623   97.433990  79.073349
18  ST_20210826  110.502373  89.667305
19  ST_20220509   85.012718  72.654610
20  ST_20220619   95.430748  76.364548
21  ST_20220704  117.319008  90.136314
22  ST_20220720  119.761154  97.234612
23  ST_20220914   94.657112  79.373428
24  ST_20220915   92.590858  76.614220
25  ST_20230723  112.003449  89.673195
26  ST_20230731  111.656387  86.054245
27  ST_20230809  106.229347  89.245758
28  ST_20230901   95.336838  77.939018
29  ST_20230902   98.760323  80.815811

In [61]:
target_metric_row = df[df['metric'] == 'NTA_PCT_MRT_Less_Than_110']

# Select only the numeric columns (excluding non-numeric ones like 'metric', 'date', etc.)
numeric_columns = target_metric_row.select_dtypes(include=['float64']).columns

# Multiply the numeric values by 100
df.loc[df['metric'] == 'NTA_PCT_MRT_Less_Than_110', numeric_columns] = df.loc[df['metric'] == 'NTA_PCT_MRT_Less_Than_110', numeric_columns] * 100

# Display the updated DataFrame
print(df)

Index(['date', 'SI99', 'QN99', 'BX99', 'MN99', 'BX98', 'QN98', 'BK99'], dtype='object')

In [54]:
df1['NTA_PCT_MRT_Less_Than_110'].max()

KeyError: 'NTA_PCT_MRT_Less_Than_110'

In [48]:
nta_pct_mrt_less_than_110 = df[df['ntacode'] == 'NTA_PCT_MRT_Less_Than_110']

# Display the result (all values in this row)
nta_pct_mrt_less_than_110['QN12']

32    0.110684017533593
Name: QN12, dtype: object

In [49]:
df_combined = pd.concat([ df1, nta_pct_mrt_less_than_110,], axis=0, sort=False)
df_combined = df_combined.drop(columns=['ntacode'])
df_combined.to_csv("./datasets.csv")

In [24]:
# Remove the unwanted columns
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'NTA_Unq_ID'])

# Save the original column names as a row
df.columns = df.columns.astype(str)  # Ensure column names are treated as strings
df_transposed = df.T

# Reset index and set the first row as the header (column names)
df_transposed.reset_index(drop=False, inplace=True)

# Rename the first row to be the new column names
df_transposed.columns = df_transposed.iloc[0]
df_transposed = df_transposed.drop(0)  # Drop the first row since it is now the header

# Display the transposed DataFrame
df_transposed.to_csv('transposed_file.csv', index=False)

In [3]:
492.33 + 1213.58 + 306.12 + 266.54 + 1100 - 850

2528.5699999999997